{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>👋 Welcome, Arun Saxena</h1>
    <h2>Auroun DataSYN Dashboard</h2>

    <p>
        AI Powered Data Analytics Platform by <b>Auroun DataSYN</b>
    </p>

    <hr>

    <h3>🚀 What you can do here:</h3>

    <ul>
        <li>Upload CSV files</li>
        <li>Get instant analytics</li>
        <li>View graphs and insights</li>
        <li>Analyze data like AI system</li>
    </ul>

    <br>

    <a href="/get-started">
        <button class="btn">Start Uploading Data</button>
    </a>

</div>

{% endblock %}
